body{
    background-color: darkkhaki; 
}
hr{
    border-style: dotted none none none;
    background-color: darkkhaki;
    height: 4px;
    border-width: 5px;
    width: 5%;
}

h1,h3{
    color: seagreen;
}
